.themed-icon {
  display: inline-block;
  flex: 0 0 auto;
  background-color: var(--themed-icon-color, currentColor);
  -webkit-mask-image: var(--themed-icon-url);
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: var(--themed-icon-url);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
